*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 100%;
    display: flex;
    align-items: center;
    height: 1000px;
    justify-content: center;
    
}
.game{
    width: 50%;
    height: 100vh;
    text-align: center;
    font-family: system-ui;
    color: white;
    margin: auto;

}
.title{
    background-color: #f25;
    width: 95%;
    font-size: large;
    padding: 5px 0;
    margin: 5px 0;
}
span{
    background-color: #fa0;
}
.aquare{
    width: 30%;
    height: 80px;
    background-color: #f25;
    float: left;
    margin: 1%;
    font-size: 50px;
    cursor: pointer;

}
.aquare:hover{
    background-color: black;
}
